USE [master]
GO
/****** Object:  Database [spf_cart_db]    Script Date: 4/23/2025 5:18:42 PM ******/
CREATE DATABASE [spf_cart_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'spf_cart_db', FILENAME = N'/var/opt/mssql/data/spf_cart_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'spf_cart_db_log', FILENAME = N'/var/opt/mssql/data/spf_cart_db_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [spf_cart_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [spf_cart_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/23/2025 5:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartHeaders]    Script Date: 4/23/2025 5:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartHeaders](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[TotalPrice] [decimal](18, 0) NOT NULL,
	[StoreId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CartHeaders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 4/23/2025 5:18:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [uniqueidentifier] NOT NULL,
	[CartHeaderId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250305090205_InitialMigration', N'8.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250310021231_AddStoreIdColumnForCart', N'8.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250410093055_AddOnDeleteBehaviorForCartItems', N'8.0.12')
GO
INSERT [dbo].[CartHeaders] ([Id], [CustomerId], [TotalPrice], [StoreId]) VALUES (N'09bcbdd2-ed8a-4587-a68c-08c33d07f1d9', N'3192d0e3-5b84-4941-7120-08dd7360d6a8', CAST(0 AS Decimal(18, 0)), N'906bf960-417d-4697-9bbb-5d351e455bfe')
INSERT [dbo].[CartHeaders] ([Id], [CustomerId], [TotalPrice], [StoreId]) VALUES (N'3a473e62-505e-464d-b5bf-45a882b2ccef', N'00000000-0000-0000-0000-000000000000', CAST(0 AS Decimal(18, 0)), N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[CartHeaders] ([Id], [CustomerId], [TotalPrice], [StoreId]) VALUES (N'4b0cf0fe-1db7-4132-8162-ab14c851db91', N'62b3d6ba-b064-446e-5063-08dd56ef0d0e', CAST(0 AS Decimal(18, 0)), N'906bf960-417d-4697-9bbb-5d351e455bfe')
GO
/****** Object:  Index [IX_CartItems_CartHeaderId]    Script Date: 4/23/2025 5:18:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_CartHeaderId] ON [dbo].[CartItems]
(
	[CartHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartHeaders] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CustomerId]
GO
ALTER TABLE [dbo].[CartHeaders] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [StoreId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_CartHeaders_CartHeaderId] FOREIGN KEY([CartHeaderId])
REFERENCES [dbo].[CartHeaders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_CartHeaders_CartHeaderId]
GO
USE [master]
GO
